.main {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: inherit;
  margin: 0 auto;
  overflow: hidden;
}

.orders {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
}
