.burgerConstructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
}

.burgerConstructor_list {
  flex: 1;
  overflow: auto;
}

.order {
  display: flex;
  justify-content: flex-end;
}

.price {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
}

.emptyIngredient {
  min-height: 100%;
}
