.ingredient {
  position: relative;
  justify-items: center;
  max-width: 272px;
}

.ingredient:hover {
  cursor: pointer;
}

.ingredient_preview {
  max-width: 240px;
}

.ingredient_price {
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

.count {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
}
